#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .seat-map {
  display: flex;
  flex-direction: column;
}

.seat-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.seat {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.occupied {
  background-color: red;
}

.available {
  background-color: green;
} */